body{
    background-color:orange;
}
#img{
    float: left;
    margin: 10px;
}
.box{
    padding: 10px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    padding: 10px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
